<!DOCTYPE html>
<html lang="en-US" class="no-js">
<head>

    <!-- Title -->
    <title>LimeSurvey</title>
    <link rel="icon" href="./assets/images/favicon.png" type="image/x-icon" />

    <!-- Required Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Bootstrap HTML template and UI kit by Erilisdesign">

    <!-- Libs CSS -->
    <link rel="stylesheet" href="assets/vendor/vegas/vegas.min.css">

    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700%7CMontserrat:200,300,400,500,700">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="assets/css/theme.css">
    <link rel="stylesheet" href="assets/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">

  </head>
  <body class="slide-website slideshow-background">

    <!-- Loader
    <div class="loader bg-dark">
      <div class="spinner-grow text-primary" role="status">
        <span class="sr-only"></span>
      </div>
    </div> -->

    

<!-- START Auth -->
<section class="authentication-box vh-100">
  <div class="bg-overlay"></div>
  <div class="container-fluid p-0">
      <div class="row g-0 align-items-center">
          <div class="col-lg-3">
            <!-- <div class="tutorial">
              <div class="text-center">
                <h4 class=""> Sistema de Diagnóstico<br>de Necessidades Formativas</h4>
            </div>
            </div> -->
                  <div class="row g-0 justify-content-center d-flex vh-100 align-items-center">
                      <div class="col-lg-11">
                       
                         <div class="authen-box">
                          
                          <div class="auth-contents">
                            <div class="tutorial">
                              <div class="text-center">
                                <h4 class="">Sistema de Diagnóstico de Necessidades Formativas</h4> <br>
                            </div>
                            </div>
                            <div class="img-login text-center pb-4 mb-2">
                              &nbsp; &nbsp;<img src="./assets/images/dark-logo.png" alt="" height="60">
                          </div>
                              <div class="text-center">
                                  <h6 class="fw-normal">  &nbsp;&nbsp;&nbsp; Administração</h6>
                              </div>
                              <form class="custom-form mt-4 pt-2" action="#" method="post" name="login" id="login-form">
                                  <div class="mb-3">
                                      <input type="text" class="form-control" id="email" name="username"
                                          placeholder="Nome de utilizador">
                                  </div>
                                  <div class="mb-3">
                                      <input type="password" class="form-control" id="password" name="password"
                                          placeholder="Password">
                                  </div>
                                  <div class="mt-4">
                                    <p> <a href="#" class="fw-bold text-info text-decoration-underline"> Esqueceu-se da sua palavra chave? </a> </p>&nbsp;
                                  </div>
                                  <div class="mb-3">
                                      <button class="btn btn-warning shadow-none w-100" type="submit" id="submit">Entrar</button>
                                  </div>
                              </form> 
                              <!-- end form -->
                          </div>
                         </div>
                      </div>
                  </div>
          </div>
        </div>
      </div>
  </section>
          <!-- end -->
          
<!-- END Auth -->


    <!-- Overlay - Global -->
    <div class="overlay overlay-global">
      <div class="overlay-inner bg-dark opacity-0"></div>
    </div>

    <!-- Site footer -->
    <footer class="footer footer-5" id="footer">

      <div class="container">
      <div class="row">
      <div class="col-12 col-md-12 col-lg-12 text--center">
      <div class="footer--copyright"><span>Copyright &copy; 2023 <a target="_blank" href="https://www.edudigital.co.mz/home/mz/">EDUdigital</a>. All rights reserved. 
      </div>
      </div>
      </div>
      
      </footer>

    <!-- Libs JS -->
    <script src="assets/vendor/jquery/dist/jquery.min.js"></script>
    <script src="assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="assets/vendor/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="assets/vendor/jquery-form/dist/jquery.form.min.js"></script>
    <script src="assets/vendor/vegas/vegas.min.js"></script>

    <!-- Theme JS -->
    <script src="assets/js/main.js"></script>

    <script>
    // Slideshow Background
    if ($('body').hasClass('slideshow-background')) {
      $('body.slideshow-background').vegas({
        preload: true,
        timer: false,
        delay: 5000,
        transition: 'fade',
        transitionDuration: 1000,
        firstTransition: 'none',
        slides: [
          { src: 'assets/images/image-1.jpg' },
          { src: 'assets/images/image-2.jpg' },
          { src: 'assets/images/image-3.jpg' }
        ]
      });
    }
    </script>

<iframe src="https://moodle-manual.edudigital-learn.com/" allowfullscreen scrolling="no" name="iframe" id="manual-window" href="#" onclick="javascript:window.setTimeout(function(){document.getElementById('manual-window').style.top='100%';},250)"></iframe>

  </body>

</html>
